.content {
    border: 1px solid lightgray;
    border-radius: 3px;
    color: gray;
    padding:15px !important;
    margin:1px;
}

.iContent {
    border: 1px solid lightgray;
    border-radius: 3px;
    color: gray;
    margin: 10px;
    padding: 10px;
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 3.5px;
    border-radius:0.25rem;
    width: 100%;
    height: auto;
    border: 1px solid #C7CED5;
    background-color: #fff;
    cursor: pointer;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #18BC9C!important;
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    color: white!important;
    line-height: 13px;
    cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: none;
    max-width: 100%;
    border-radius: 3px;
    background-color: none;
    background-image: none;
    background-image: none;
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    line-height: 13px;
    cursor: default;
}
